.dark-mode {
    background-color: #333; /* Dark mode background color */
    color: #f0f0f0; /* Dark mode text color */
}

/* Styles for specific elements in dark mode */
.dark-mode .navbar {
    background-color: #222; /* Dark mode navbar background color */
}

.dark-mode .navbar-nav .nav-link {
    color: #f0f0f0; /* Dark mode navbar link color */
}
