/* Default light mode styles */
body {
    background-color: #ffffff;
    color: #333333;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.navbar {
    background-color: #ffffff; /* Navbar background color in light mode */
    color: #333333; /* Text color in light mode */
}

.navbar-dark .navbar-toggler-icon {
    background-color: #333333; /* Toggler icon color in light mode */
}

/* Navbar styles in dark mode */
body.dark-mode .navbar {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .navbar-dark .navbar-toggler-icon {
    background-color: #ffffff;
}
